.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .loginMain {
    width: 340px;
    margin: 0 auto;
    padding-top: 150px;

    .loginTitle {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }

    .loginForm {
      display: flex;
      flex-direction: column;

      .loginInput {
        padding: 15px;
        border: 1px solid #cccccc;
        border-radius: 3px;

        &::placeholder {
          color: #cccccc;
          font-size: 13px;
        }
      }

      .inputId {
        margin-bottom: 10px;
      }
    }

    .loginSub {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0 30px;
      font-size: 13px;
      text-align: center;

      .secureCheck {
        display: flex;
        align-items: center;
        font-size: 13px;
      }
    }

    .btns {
      display: flex;
      flex-direction: column;

      .btn {
        width: 100%;
        padding: 15px 0;
        border: 1px solid #5f0080;
        border-radius: 3px;
        font-size: 15px;
        cursor: pointer;
      }

      .loginBtn {
        margin-bottom: 10px;
        color: #ffffff;
        background-color: #5f0080;
      }

      .signUpBtn {
        color: #5f0080;
        background-color: transparent;
      }
    }
  }

  .findId,
  .findPw {
    color: #000000;
    font-size: 12px;
    text-decoration: none;
  }

  .findId::after {
    content: " | ";
  }
}
