.main {
  display: flex;
  flex-direction: column;

  .loader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;

    $offset: 187;
    $duration: 1.4s;

    .spinner {
      animation: rotator $duration linear infinite;
    }

    @keyframes rotator {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(270deg);
      }
    }

    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash $duration ease-in-out infinite,
        colors ($duration * 4) ease-in-out infinite;
    }

    @keyframes colors {
      0% {
        stroke: #4285f4;
      }
      25% {
        stroke: #de3e35;
      }
      50% {
        stroke: #f7c223;
      }
      75% {
        stroke: #1b9a59;
      }
      100% {
        stroke: #4285f4;
      }
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: $offset;
      }
      50% {
        stroke-dashoffset: $offset/4;
        transform: rotate(135deg);
      }
      100% {
        stroke-dashoffset: $offset;
        transform: rotate(450deg);
      }
    }
  }
  .adList {
    margin-top: 15px;

    .adBanner {
      position: relative;

      .leftArrow {
        width: 52px;
        height: 52px;
        left: 13%;
        position: absolute;
        top: 40%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .rightArrow {
        width: 52px;
        height: 52px;
        right: 13%;
        position: absolute;
        top: 40%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .productList {
    .productStatus {
      padding: 79px 0 35px;

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.3px;
        text-align: center;
      }
    }
  }

  .buttonCategory {
    ul {
      width: 1030px;
      max-width: 1030px;
      padding: 0 0 20px;
      margin: 0 auto;
      text-align: center;

      li {
        display: inline-block;
        padding: 0 5px 20px;

        div:hover {
          background-color: rgb(247, 243, 248);
          color: slateblue;
          cursor: pointer;
        }

        div {
          display: inline-block;
          height: 40px;
          padding: 9px 20px 0 19px;
          border: 1px solid #f7f7f6;
          border-radius: 20px;
          background-color: #f7f7f6;
          font-size: 14px;
          line-height: 18px;
          text-decoration: none;
          color: black;
          font-weight: 500;
        }
      }
    }
  }

  .listGoods {
    width: 1068px;
    height: 506px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .productLeftButton {
      position: absolute;
      width: 52px;
      height: 52px;
      left: 985px;
      top: 28%;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .productRightButton {
      position: absolute;
      width: 52px;
      height: 52px;
      left: 10px;
      top: 28%;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      position: absolute;
      transition: all 0.3s;

      li {
        width: 249px;
        height: 506px;
        margin-right: 18px;
        display: inline-block;

        span {
          display: block;
          padding-top: 9px;
          font-weight: 800;
          font-size: 16px;
          line-height: 20px;

          a {
            text-decoration: none;
            font-size: 16px;
            line-height: 23px;
            color: black;
          }
        }

        img {
          width: 249px;
          height: 320px;
          cursor: pointer;
        }
      }
    }
  }
  .benefit {
    background-color: #f7f7f7;

    .benefitGoods {
      padding: 65px 0 35px;

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.3px;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .benefitList {
      text-align: center;

      .benefitListImg {
        li {
          display: inline-block;
          margin-left: 15px;
          margin-bottom: 45px;

          a {
            img {
              width: 328px;
              height: 328px;
              cursor: pointer;
            }
          }
          .innerInfo {
            margin-top: 10px;

            .innerInfo1 {
              display: block;
              font-weight: 700;
              font-size: 18px;
              line-height: 28px;
              letter-spacing: -0.3px;
            }

            .innerInfo2 {
              font-size: 16px;
              line-height: 20px;
              color: #999;
            }
          }
        }
      }
    }
  }
  .centerAdd {
    width: 1050px;
    padding-top: 30px;
    margin: 0 auto;

    img {
      height: 140px;
      cursor: pointer;
    }
  }

  .kulryList {
    .kulryStatus {
      padding: 79px 0 35px;

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.3px;
        text-align: center;
      }
    }
  }

  .kulrylistGoods {
    width: 1068px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .kulryboxWrapper {
      position: absolute;
      max-width: 1050px;
      margin: 0 auto;
    }

    .kulryboxViewport {
      position: absolute;
      width: 100%;
      height: 506px;

      .kulryproductLeftButton {
        position: absolute;
        width: 52px;
        height: 52px;
        left: 1030px;
        top: 18%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .kulryproductRightButton {
        position: absolute;
        width: 52px;
        height: 52px;
        left: -1%;
        top: 18%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      ul {
        display: flex;
        position: absolute;
        transition: all 0.3s;

        li {
          width: 338px;
          height: 100%;
          margin-right: 18px;
          display: inline-block;

          span {
            display: block;
            padding-top: 9px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;

            a {
              text-decoration: none;
              font-size: 16px;
              line-height: 23px;
              color: black;
            }
          }

          img {
            width: 338px;
            height: 229px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .instagramList {
    .instagramStatus {
      padding: 79px 0 35px;

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.3px;
        text-align: center;
      }
    }
  }

  .instagramlistGoods {
    width: 1068px;
    height: 275px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    .instagramboxWrapper {
      position: absolute;
      max-width: 1050px;
      margin: 0 auto;
    }

    .instagramboxViewport {
      position: absolute;
      width: 100%;
      height: 506px;

      .instagramproductLeftButton {
        position: absolute;
        width: 52px;
        height: 52px;
        left: 1019px;
        top: 13%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      .instagramproductRightButton {
        position: absolute;
        width: 52px;
        height: 52px;
        left: -1px;
        top: 13%;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }

      ul {
        display: flex;
        position: absolute;
        transition: all 0.3s;

        li {
          width: 175px;
          height: 100%;
          display: inline-block;

          span {
            display: block;
            padding-top: 9px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;

            a {
              text-decoration: none;
              font-size: 16px;
              line-height: 23px;
              color: black;
            }
          }

          img {
            width: 175px;
            height: 175px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
