.goodsRelated {
  margin-top: 35px;

  .relatedLine {
    width: 20px;
    height: 5px;
    background-color: black;
  }

  h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 5px 0;
  }

  .relatedList {
    display: flex;
    padding: 15px 0;

    .relatedArrow {
      background-color: transparent;
      border: 1px solid transparent;
      font-size: 20px;
    }
  }
}
