.relatedItem {
  margin: 0 10px;
  border: 1px solid rgb(222, 211, 211);

  img {
    width: 170px;
    height: 230px;
  }

  .itemInfo {
    padding: 10px;

    .itemTitle {
      padding-bottom: 20px;
      font-size: 16px;
    }

    .itemPrice {
      font-size: 14px;
    }
  }
}
