.navLayout {
  display: flex;
  flex-direction: column;

  .firstLayout {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    .kurlyMarket {
      width: 121px;
      height: 22px;

      a {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .signUpList {
      display: flex;

      .signUpListOne {
        list-style: none;
        margin: 0px 10px 0 0;

        .signUpColor {
          color: rgb(162, 105, 178);
        }

        a {
          color: black;
          font-size: 12px;
          text-decoration: none;
          font-weight: 400;
        }
      }

      .signUpListTwo {
        list-style: none;
        margin: 0px 10px 0 0;

        div {
          width: 1px;
          height: 12px;
          background-color: rgb(211, 210, 211);
        }
      }
    }
  }

  .secondLayout {
    display: flex;
    justify-content: center;

    img {
      width: 103px;
      height: 103px;
    }
  }

  .thirdLayout {
    display: flex;
    align-items: center;
    margin: 0 auto;

    .allCategorie {
      display: flex;

      li {
        position: relative;
        list-style: none;
        margin-right: 58px;
        a {
          text-decoration: none;
          color: black;
          font-size: 17px;

          i {
            margin-right: 10px;
          }

          span {
            margin-right: 5px;
          }
        }
        .dropDownMenu {
          position: absolute;
          width: 320px;
          div {
            font-size: 15px;
            line-height: 1.6;
          }
          ul {
            position: absolute;
            left: 150px;
            top: 0;
            height: 473px;
            li {
              font-size: 15px;
              line-height: 1.6;
              margin: 0;
            }
          }
        }
      }
    }

    .thirdLayoutIcon {
      display: flex;

      .searchBar {
        margin-right: 33px;
        width: 200px;
        height: 37px;
        border: 1px solid black;
        border-radius: 21px;
        border: none;
        background-color: #f7f7f7;
        position: relative;

        i {
          position: absolute;
          right: 0;
          bottom: 11px;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          background-color: #f7f7f7;
          border-radius: 21px;
          margin-left: 17px;
          outline: none;
        }
      }

      a {
        margin: 6px 25px 0 0;
        i {
          color: black;
          font-size: 23px;
        }
      }
    }
  }
}
